MyFileItTestSite/Service References/MyFileIt/MyFileItAppService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fileit.cloudapp.net/MyFileItService-TESTING/MyFileItAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" />
  <xs:import schemaLocation="http://fileit.cloudapp.net/MyFileItService-TESTING/MyFileItAppService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://fileit.cloudapp.net/MyFileItService-TESTING/MyFileItAppService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://fileit.cloudapp.net/MyFileItService-TESTING/MyFileItAppService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FileItService.DTOs" />
  <xs:element name="InitService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferenceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referenceTableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferenceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetReferenceDataResult" nillable="true" type="q1:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUserOrganizationsResult" nillable="true" type="q2:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nameLookup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetOrganizationsResult" nillable="true" type="q3:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="organization" nillable="true" type="q4:OrganizationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddOrganizationResult" nillable="true" type="q5:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="organization" nillable="true" type="q6:OrganizationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateOrganizationResult" nillable="true" type="q7:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveOrganizationResult" nillable="true" type="q8:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileCabinetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="base64Image" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="doc" nillable="true" type="q9:FileCabinetDocumentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileCabinetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UploadFileCabinetDocumentResult" nillable="true" type="q10:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element minOccurs="0" name="verifyAppUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventDocumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="VerifyDocumentResult" nillable="true" type="q11:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmergencyShare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileCabinetDocumentIds" nillable="true" type="q12:ArrayOfint" />
        <xs:element minOccurs="0" name="emergencyEmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmergencyShareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddEmergencyShareResult" nillable="true" type="q13:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateDocumentsToTeamEventDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="associations" nillable="true" type="q14:ArrayOfAssociateDocumentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateDocumentsToTeamEventDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AssociateDocumentsToTeamEventDocumentsResult" nillable="true" type="q15:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendAssociatedDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendAssociatedDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="ResendAssociatedDocumentsResult" nillable="true" type="q16:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateDocumentToTeamEventDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="fileCabinetDocumentId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventDocumentId" type="xs:int" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emergency" type="xs:boolean" />
        <xs:element minOccurs="0" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateDocumentToTeamEventDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AssociateDocumentToTeamEventDocumentResult" nillable="true" type="q17:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectTeamEventDocumentShare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventDocumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectTeamEventDocumentShareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RejectTeamEventDocumentShareResult" nillable="true" type="q18:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventsByAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventsByAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetTeamEventsByAppUserResult" nillable="true" type="q19:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventsByCoach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventsByCoachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetTeamEventsByCoachResult" nillable="true" type="q20:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetTeamEventsResult" nillable="true" type="q21:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="ValidateTeamEventResult" nillable="true" type="q22:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="teamEvent" nillable="true" type="q23:TeamEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddTeamEventResult" nillable="true" type="q24:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="teamEvent" nillable="true" type="q25:TeamEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateTeamEventResult" nillable="true" type="q26:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveTeamEventResult" nillable="true" type="q27:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAppUserExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAppUserExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAppUserExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="LoginAppUserResult" nillable="true" type="q28:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="ForgotPasswordResult" nillable="true" type="q29:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nameLookup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUsersResult" nillable="true" type="q30:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAllAppUsersResult" nillable="true" type="q31:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUsersByEmailResult" nillable="true" type="q32:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersByPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersByPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUsersByPhoneNumberResult" nillable="true" type="q33:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersByNameSexEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentEmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUsersByNameSexEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUsersByNameSexEmailResult" nillable="true" type="q34:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nameLookup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentEmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetCoachMembersResult" nillable="true" type="q35:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="appUser" nillable="true" type="q36:AppUserDTO" />
        <xs:element minOccurs="0" name="autoSignUpOrganizationId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddAppUserResult" nillable="true" type="q37:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateAppUserToOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="appUserTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="expiresDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="yearCode" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sportTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateAppUserToOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AssociateAppUserToOrganizationResult" nillable="true" type="q38:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAppUserFromOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAppUserFromOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveAppUserFromOrganizationResult" nillable="true" type="q39:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="appUser" nillable="true" type="q40:AppUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateAppUserResult" nillable="true" type="q41:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveAppUserResult" nillable="true" type="q42:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="appUserStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateAppUserStatusResult" nillable="true" type="q43:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primaryAppUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetFamilyUsersResult" nillable="true" type="q44:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="lookup" nillable="true" type="q45:FileCabinetDocumentSingleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetSingleDocumentResult" nillable="true" type="q46:FileCabinetDocumentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="downloadedDocumentIds" nillable="true" type="q47:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUserDocumentsListResult" nillable="true" type="q48:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsListNoImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="downloadedDocumentIds" nillable="true" type="q49:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsListNoImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUserDocumentsListNoImagesResult" nillable="true" type="q50:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsThumbs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lookupDocumentIds" nillable="true" type="q51:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsThumbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUserDocumentsThumbsResult" nillable="true" type="q52:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="downloadedDocumentIds" nillable="true" type="q53:ArrayOfNullableOfint" />
        <xs:element minOccurs="0" name="thumbsOnly" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUserDocumentsResult" nillable="true" type="q54:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primaryAppUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetFamilyDocumentsResult" nillable="true" type="q55:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppUserDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="documentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppUserDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="DeleteAppUserDocumentResult" nillable="true" type="q56:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvitationToShareEmailText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvitationToShareEmailTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInvitationToShareEmailTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvitationEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvitationEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="SendInvitationEmailResult" nillable="true" type="q57:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toEmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetSentEmailsResult" nillable="true" type="q58:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserTeamEventDocumentsByTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserTeamEventDocumentsByTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAppUserTeamEventDocumentsByTeamEventResult" nillable="true" type="q59:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventDocumentId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nameLookup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetTeamEventDocumentsResult" nillable="true" type="q60:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamEventDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="teamEventDocument" nillable="true" type="q61:TeamEventDocumentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamEventDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddTeamEventDocumentResult" nillable="true" type="q62:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamEventDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="teamEventDocument" nillable="true" type="q63:TeamEventDocumentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamEventDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateTeamEventDocumentResult" nillable="true" type="q64:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeamEventDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventDocumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeamEventDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveTeamEventDocumentResult" nillable="true" type="q65:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventPlayerRosters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventPlayerRosterId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventPlayerRostersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetTeamEventPlayerRostersResult" nillable="true" type="q66:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventPlayersWithUploads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamEventPlayersWithUploadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetTeamEventPlayersWithUploadsResult" nillable="true" type="q67:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamEventPlayerRoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="teamEventPlayerRoster" nillable="true" type="q68:TeamEventPlayerRosterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamEventPlayerRosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddTeamEventPlayerRosterResult" nillable="true" type="q69:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamEventPlayerRoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="teamEventPlayerRoster" nillable="true" type="q70:TeamEventPlayerRosterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamEventPlayerRosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateTeamEventPlayerRosterResult" nillable="true" type="q71:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeamEventPlayerRoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventPlayerRosterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTeamEventPlayerRosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveTeamEventPlayerRosterResult" nillable="true" type="q72:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesRepId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nameLookup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesRepStatusId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesRepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetSalesRepsResult" nillable="true" type="q73:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginSalesRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginSalesRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="LoginSalesRepResult" nillable="true" type="q74:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalesRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="salesRep" nillable="true" type="q75:SalesRepDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalesRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddSalesRepResult" nillable="true" type="q76:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="salesRep" nillable="true" type="q77:SalesRepDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateSalesRepResult" nillable="true" type="q78:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSalesRepStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesRepId" type="xs:int" />
        <xs:element minOccurs="0" name="salesRepStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSalesRepStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="ChangeSalesRepStatusResult" nillable="true" type="q79:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSalesRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesRepId" type="xs:int" />
        <xs:element minOccurs="0" name="salesRepIdReplacement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSalesRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveSalesRepResult" nillable="true" type="q80:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoaches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coachId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nameLookup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetCoachesResult" nillable="true" type="q81:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachesByOrganizationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachesByOrganizationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetCoachesByOrganizationIdResult" nillable="true" type="q82:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachesByTeamEventId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamEventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoachesByTeamEventIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetCoachesByTeamEventIdResult" nillable="true" type="q83:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="expiresDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="yearCode" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sportTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCoachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddCoachResult" nillable="true" type="q84:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAddCoachEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ccEmailAddresses" nillable="true" type="q85:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAddCoachEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="SendAddCoachEmailResult" nillable="true" type="q86:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCoach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCoachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveCoachResult" nillable="true" type="q87:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateCoachToTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="coach" nillable="true" type="q88:CoachDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateCoachToTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AssociateCoachToTeamEventResult" nillable="true" type="q89:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCoachFromTeamEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="teamEventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCoachFromTeamEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveCoachFromTeamEventResult" nillable="true" type="q90:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCoachFromCurrentAppUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coachId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCoachFromCurrentAppUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="RemoveCoachFromCurrentAppUserResult" nillable="true" type="q91:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShareKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primaryAppUserId" type="xs:int" />
        <xs:element minOccurs="0" name="purchaseDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="promoCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last4Digits" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="salesRepId" type="xs:int" />
        <xs:element minOccurs="0" name="numKeys" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShareKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddShareKeyResult" nillable="true" type="q92:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShareKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="shareKey" nillable="true" type="q93:ShareKeyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShareKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="UpdateShareKeyResult" nillable="true" type="q94:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateShareKeyToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appUserId" type="xs:int" />
        <xs:element minOccurs="0" name="shareKeyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateShareKeyToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AssociateShareKeyToUserResult" nillable="true" type="q95:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShareKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primaryAppUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShareKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetShareKeysResult" nillable="true" type="q96:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableShareKeysByPromoCodeAndPrimaryUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primaryAppUserId" type="xs:int" />
        <xs:element minOccurs="0" name="promocode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableShareKeysByPromoCodeAndPrimaryUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetAvailableShareKeysByPromoCodeAndPrimaryUserResult" nillable="true" type="q97:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="coach" nillable="true" type="q98:PaymentHistoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="AddPaymentHistoryResult" nillable="true" type="q99:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primaryAppUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MyFileItService.DTOs" minOccurs="0" name="GetPaymentHistoryResult" nillable="true" type="q100:MyFileItResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/FileItService.DTOs" minOccurs="0" name="AuthenticateResult" nillable="true" type="q101:FileItResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCabinets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetuser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allavailable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCabinetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCabinetsResult" nillable="true" type="q102:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCabinet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cabinetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCabinetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/FileItService.DTOs" minOccurs="0" name="GetCabinetResult" nillable="true" type="q103:FileItCabinet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cabinetid" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/FileItService.DTOs" minOccurs="0" name="lookups" nillable="true" type="q104:ArrayOfFileItDocumentLookup" />
        <xs:element minOccurs="0" name="includeThumbs" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/FileItService.DTOs" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q105:FileItResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cabinetId" nillable="true" type="xs:string" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/FileItService.DTOs" minOccurs="0" name="documents" nillable="true" type="q106:ArrayOfFileItDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/FileItService.DTOs" minOccurs="0" name="UploadDocumentsResult" nillable="true" type="q107:FileItResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>